In [1]:
sozluk = {"Kategori": ["Giyim","Giyim", "Ayakkabı","Aksesuar","Ayakkabı","Giyim","Aksesuar","Aksesuar","Ayakkabı","Giyim"],
          "Ürün" : ["Kazak","T-shirt","Sandalet","Küpe","Spor Ayakkabı","Pantolon","Kolye","Yüzük","Çizme","Ceket"],
          "Fiyat" : [300,180,450,50,700,400,150,80,850,900]}
# Yukarıdaki sözlük DataFrame’e dönüştürülür. Yukarıdaki DataFrame için

# 2.indexte bulunan kategori bulunur. (Sadece kategori bilgisi) 2. indexte bulunan ürün bulunur. (Sadece ürün bilgisi) 4.indexten 9.indexe kadar olan veriler bulunur. (Kategori,ürün,fiyat bilgisi beraber) 1.indexten 6.indexe kadar olan ürünler bulunur. (Sadece ürün bilgisi)

In [2]:
import pandas as pd

In [5]:
sozluk_df = pd.DataFrame(sozluk)
sozluk_df

   Kategori           Ürün  Fiyat
0     Giyim          Kazak    300
1     Giyim        T-shirt    180
2  Ayakkabı       Sandalet    450
3  Aksesuar           Küpe     50
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

In [7]:
kategori = sozluk_df.iloc[5,sozluk_df.columns.get_loc("Kategori")]
kategori

'Giyim'

In [8]:
urun = sozluk_df.iloc[3,1]
urun

'Küpe'

In [10]:
all_ = sozluk_df.iloc[3:10]
all_

   Kategori           Ürün  Fiyat
3  Aksesuar           Küpe     50
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

In [13]:
j_urun = sozluk_df.loc[1:9, "Ürün"]
j_urun

1          T-shirt
2         Sandalet
3             Küpe
4    Spor Ayakkabı
5         Pantolon
6            Kolye
7            Yüzük
8            Çizme
9            Ceket
Name: Ürün, dtype: object

In [14]:
giyim = sozluk_df[sozluk_df['Kategori'] == "Giyim"]["Ürün"]
giyim

0       Kazak
1     T-shirt
5    Pantolon
9       Ceket
Name: Ürün, dtype: object

In [15]:
ayakkabi = sozluk_df[sozluk_df['Kategori'] == "Ayakkabı"]["Ürün"]
ayakkabi

2         Sandalet
4    Spor Ayakkabı
8            Çizme
Name: Ürün, dtype: object

In [16]:
aksesuar = sozluk_df[sozluk_df['Kategori'] == "Aksesuar"]["Ürün"]
aksesuar

3     Küpe
6    Kolye
7    Yüzük
Name: Ürün, dtype: object

In [25]:
giyim_fiyat = sozluk_df[(sozluk_df['Kategori'] == "Giyim") & (sozluk_df["Fiyat"] > 350)]["Ürün"]
giyim_fiyat

5    Pantolon
9       Ceket
Name: Ürün, dtype: object

In [22]:
ayakkabi_fiyat = sozluk_df[(sozluk_df['Kategori'] == "Ayakkabı") & (sozluk_df["Fiyat"] < 700)]["Ürün"]
ayakkabi_fiyat

2    Sandalet
Name: Ürün, dtype: object

In [24]:
aksesuar_fiyat = sozluk_df[(sozluk_df['Kategori'] == "Aksesuar") & (sozluk_df["Fiyat"] > 130)]
aksesuar_fiyat

   Kategori   Ürün  Fiyat
6  Aksesuar  Kolye    150